node_modules
.node_modules
built/*
test-args.txt
~*.docx
\#*\#
.\#*
*.swp
build.json
*.actual
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
.idea
yarn.lock
yarn-error.log
.parallelperf.*
.failed-tests
TEST-results.xml
tests
.vscode
.git
